.toolbar {
  height: 64px;
  width: auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  padding-left: 16px;
  display: block;
}

.spacer {
  margin-left: auto;
  margin-right: auto;
}
.profile-image {
  border-radius: 50%;
  max-height: 50px;
  margin: 0 10px;
}
.toolbar-option {
  font-size: 16px;
  font-weight: bold;
  margin-right: 16px;
}

@media (max-width: 600px) {
  .toolbar {
    height: 56px;
  }

  .logo {
    font-size: 20px;
    padding-left: 12px;
  }

  .toolbar-option {
    font-size: 14px;
    margin-right: 8px;
  }
  .spacer {
    flex: 1 1 auto;
  }
}
