<mat-toolbar class="toolbar" color="primary">
  <span class="logo" routerLink="">FINAN-HOUSING</span>
  <span class="spacer"></span>
  <button mat-button class="toolbar-option" routerLink="/home">Home</button>
  <button mat-button class="toolbar-option" routerLink="/login">Login</button>
  <ng-container *ngIf="!isAuthenticated; else profileImage">
    <mat-icon>account_circle</mat-icon>
  </ng-container>
  <ng-template #profileImage>
    <img class="profile-image" [src]="user.photoUrl" alt="Profile"/>
    <mat-icon (click)="logout()">exit_to_app</mat-icon>
  </ng-template>
</mat-toolbar>

